<ion-view view-title="Werewolves">
  <ion-content>
    <div class="center-item">
      <h3 >WEREWOLVES TWO</h3>
      <h5>of Miller's Hollow</h5>
      <div class="generic-text">

        In the wild East, the small hamlet of Miller's Hollow has recently
        become the target of Werewolves. The villagers must gather their wits
        to eradicate this new plague returning from past aeons, before the
        hamlet loses it's last inhabitants...

    </div>
      <img src="./img/werewolves.png" alt="" />
    </div>

    <a class='button button-block button-large' ng-href="#werewolves" ng-show="user.signedIn == true">PLAY!</a>
    <a class='button button-block button-large' ng-href="#app/sign_up" ng-show="!user.signedIn == true">Register</a>
    <a class='button button-block button-large' ng-href="#app/sign_in" ng-show="!user.signedIn == true">Login</a>

  </ion-content>
</ion-view>
