<ion-view view-title="Instructions">
  <ion-content>
    <p>
      <h3>Instructions</h3>

      It is strictly forbidden to reveal your own secret identity to anyone while your character
      is alive. However with speaking, anything goes.

      The Moderator will follow the character call-out table to lead the game.

      <h4> The Moderator puts the village to sleep: </h4>

        All the players lower their heads and close their eyes. The nocturnal characters
        then wake up and secretly choose a victim.

      <h4> When they've chosen a victim, the Moderator wakes up the village: </h4>

        The Moderator informs the village who has been the victim of the night. Then the
        village debates any possible suspicions.

        All players are allowed to pass themselves off as another character.
        This phase is the core of the game; this is the time to bluff or tell the truth
        but the key is to always be credible.

      <h4> When the time is right, the Moderator starts the village's vote: </h4>

        The players nominate who they want to lynch that day.
        The players are supposed to eliminate a player suspected of compromising the
        village's survival. The player with the most votes is eliminated.
        The eliminated player reveals their identity and is no longer allowed to contribute
        to the game.

        The game shifts over to night time and repeats until all the werewolves are killed
        or there are more werewolves than villagers.
    </p>
  </ion-content>
</ion-view>
