<ion-view view-title="Identities">

  <ion-content>
   <ion-slide>

    <slide-box show-pager="true" does-continue="true" slide-interval="5000" disable-scroll="false">

       <slide>
           <a href='views/cards/villager.html'>
           <img src='assets/img/villager.png' width="370px">
         </a>
       </slide>
       <slide>
         <a href='views/cards/werewolve.html'>
           <img src='assets/img/werewolf.png' width="370px">
           </a>
       </slide>
       <slide>
           <img src='assets/img/little-girl.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/sheriff.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/seer.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/white-werewolf.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/wild-child.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/witch.png' width="370px">
       </slide>
       <slide>
           <img src='assets/img/cupid.png' width="370px">
       </slide>
   </slide-box>
  </ion-slide>
  </ion-content>
</ion-view>
