<ion-view view-title="Rules">
  <ion-content>
    <p>
      <h3>Game Overview</h3>

      Under the guidance of a Game Moderator, a game plays out as an
      alternating series of nights and days.

      During the night, the players all have their eyes closed, and then, in turn,
      the werewolves will open their eyes (wake up) and select a victim. The Moderator will then
      ask all of the players to open their eyes (the village wakes up).

      Each day, when the village wakes up, the victim of the nocturnal characters
      will be revealed. Then, all of the remaining players will debate to eliminate
      via a vote one of themselves in the fragile hope of managing to guarantee the village's survival.

      The goal of each player depends on their secret identity: The villagers win if they kill
      all werewolves. The werewolves win if they kill enough villagers so that the numbers are even.

    </p>

    <a class='button button-block button-small' ng-href="#app/instructions">More details</a>
    <a class='button button-block button-small' ng-href="#app/roles">View identities</a>

  </ion-content>
</ion-view>
