<ion-view view-title="Cupid">
  <ion-content>
    <h3>Cupid card!</h3>
      <p>Wins with the village.
        At the very first night phase Cupid
        will wake up, before everybody else
        and pick 2 people who will become "lovers".
        Cupid then returns to sleep and is a regular
        villager for the rest of the game. The two
        lovers will then be asked to wake up,
        look at each other and show each other
        their cards. Regardless of their old roles
        their new objective is to be the only 2
        remaining players alive by whatever means necessary.
      </p>
  </ion-content>
</ion-view>
