<ion-view view-title="Defender">
  <ion-content>
    <h3>The Defender</h3>
      <p>
        The defender is called every night and can choose someone to protect
        during the night. Even if the werewolves try to kill the person chosen,
        they will not die. They can protect themselves but cannot protect the
        same person 2 nights in a row. He also cannot protect the little girl,
        the piper or any player infected by the accursed wolf-father.
      </p>
  </ion-content>
</ion-view>
