<ion-view view-title="Seer">
  <ion-content>
    <h3>Seer card!</h3>
    <p>Every night phase you will be asked to wake up
      by the moderator (after the werewolves) and you
       will be allowed to point to one person and see
       their card. Nobody will know who you are or who's
        card was seen during the night, use this
        information as you wish during the day phase. 
  </p>
  <a class='button button-block button-large' ng-href="#app/werewolves">back</a>
  </ion-content>
  </ion-view>
