
<ion-view view-title="Werewolf">
  <ion-content>
    <h3>Werewolve card!</h3>
      <p>Typically werewolves are outnumbered by villagers 2 to 1.
       So a game of 6 players would have 2 werewolves.
       The goal of the werewolves is to decide together
       on one villager to secretly kill off during the night,
       while posing as villagers during the day so they're not
       killed off themselves. One by one they'll kill off
       villagers and win when there are either the same number
       of villagers and werewolves left, or all the villagers
       have died. This role is the hardest of all to maintain,
       because these players are lying for the duration of the game.
      </p>
  </ion-content>
</ion-view>
