<ion-view view-title="Witch">
  <ion-content>
    <h3>Witch card!</h3>
    <p>You have 2 potions, 1 of them kills somebody
      and 1 of them saves somebody. Each night you
      will be asked to wake up (after the werewolves)
      and told who is about to die. You will then be
      asked if you wish to save this person with your
      save potion (nodding or shaking your head), you
      will then be asked if you wish to kill anybody
      (pointing at them or shaking your head).
      You may use each potion only once in the game. 
  </p>
  <a class='button button-block button-large' ng-href="#app/werewolves">back</a>
  </ion-content>
  </ion-view>
